<!DOCTYPE html>
<html>

	<head>
		<title>Dexter Controller</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

<style>
table {width:100%; margin-left:auto; margin-right:auto; max-width:500px; max-height:40%}
input {width:80%;}
td {text-align:center; vertical-align:middle;}
</style>

	<body>
		<!--
		<img src="http://{{ server_ip }}:8081/" style="width:100%; max-width:300px; max-height:300px; border-radius:5px; background-coluor"></img>
		-->
		<table border="0">
			<tr>
				<td>
					<form action="/7" method="POST">
						<input type="image" name="direction" src="../static/img/ccw.svg" value="ccw">
						</br>
					</form>
				</td>
				<td>
					<form action="/2" method="POST">
						<input type="image" name="direction" src="../static/img/forward.svg" value="forward">
						</br>
					</form>
				</td>
				<td>
					<form action="/6" method="POST">
						<input type="image" name="direction" src="../static/img/cw.svg" value="cw">
						</br>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<form action="/1" method="POST">
						<input type="image" name="direction" src="../static/img/left.svg" value="left">
						</br>
					</form>
				</td>
				<td>
					<form action="/5" method="POST">
						<input type="image" name="direction" src="../static/img/stop_2.svg" value="stop" >
						</br>
					</form>
				</td>
				<td>
					<form action="/3" method="POST">
						<input type="image" name="direction" src="../static/img/right.svg" value="right">
						</br>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					<form action="/8" method="POST">
						<input type="image" name="direction" src="../static/img/minus.svg" value="speed_down">
						</br>
					</form>
				</td>
				<td>
					<form action="/4" method="POST">
						<input type="image" name="direction" src= "../static/img/backward.svg" value="backward">
						</br>
					</form>
				</td>
				<td>
					<form action="/9" method="POST">
						<input type="image" name="direction" src="../static/img/plus.svg" value="speed_up">
						</br>
					</form>
				</td>
			</tr>
		</table>

	</body>
</html>
